{% extends 'pages/base.html' %}
{% block title %}Student Registration{% endblock %}
{% block bio_active %}active{% endblock %}

{% block body %}
<h3>Step 1: Please fill in your bio-data:</h3>
   <div class="container-fluid">

       <div class="row">

           <div class="col-sm-12 col-md-7">
               <div class="panel panel-default">
                   <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'pages/form-template.html'%}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                   <button type="submit" class="btn btn-success">Next--></button>
                                </div>
                            </div>
                        </form>

                   </div>
               </div>
           </div>
       </div>

   </div>
{% endblock %}